

<div class="container">
  <div class="row">
    <header>
      <div style="float:left;">
        Stargate - a tool to manage astronauts duties
      </div>
    </header>
  </div>
  <div class="row" style="padding: 10px 0 20px 0;">
    <router-outlet></router-outlet>
  </div>

  <div class="row">
    <footer>
      <div style="float: left;">
        <a mat-menu-item routerLink="/credits/" routerLinkActive="active-link">Credits</a>
      </div>
    </footer>
  </div>
</div>
